.todoSection {
  display: flex;
  /* flex-direction: row; */
  /* justify-content: center; */
  /* text-align: center;
  align-items: center;
  align-content: center; */
  margin-top: 30px;
}
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.btn {
  margin-left: 20px;
}
.saveButton {
  /* background-color: green; */
}
.saveInputSection {
  display: flex;
  justify-content: center;
  align-items: center;
}
